{% extends "main.html" %}
{% include "includes/_navbar.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Styles</h1>
			<ul class="styles">
				<li>MakeUp</li>
				<li>Interior Design</li>
				<li>Fashion</li>
		</div>
	</div>
	<div class="container">
		<h3>Check out more about Styles and Influencers by loggin in here:</h3>
		{% if session.logged_in == NULL %}
		<a hred = "{{url_for('login')}}" class = "btn btn-primary btn-lg">Log In Here</a>
		{% endif %}
	</div>
{% endblock %}
