{% extends "main.html" %}
{% include "includes/_navbar.html" %}
{% block content %}

<div class="banner">
	<h1>Styles</h1>
	<ul class="publicStyles">
		<li>MakeUp</li>
		<li>Interior Design</li>
		<li>Fashion</li>
</div>
<div class="content">
	<div class="container">
		<h3>Check out more about Styles and Influencers by loggin in here:</h3>
		{% if session.logged_in == NULL %}
		<a hred = "{{url_for('login')}}" class = "btn btn-primary btn-lg">Log In Here</a>
		{% endif %}
	</div>
</div>

{% endblock %}
